/.ipynb_checkpoints
/27092023 semi batch.csv
/batch_reboiler_nopower.ipynb
/conc.ipynb
/Cp_isopropanol.xlsx
/Cp_methanol.xlsx
/Cp_vapor.py
/Energy+mass_reboiler.ipynb
/Energy+mass_reboilerMethanol.ipynb
/Energy+mass_reboilerV2.ipynb
/Energy+mass_reboilerV3.ipynb
/energybalance.py
/Heat capacities.xlsx
/reboiler+condensercombined9eqs copy.ipynb
/reboiler+condensercombined9eqs.ipynb
/reboiler+condenserV5.ipynb
/reboiler+condeser.ipynb
/reboiler+condesernew.ipynb
/reboiler+condeserV4 (1).ipynb
/Reboiler_start.ipynb
/Untitled-1.ipynb